[Unit]
Description = User Service
[Service]
User=roboshop
Environment=DOCUMENTDB={{ lookup('amazon.aws.aws_ssm', 'roboshop.{{env}}.user.mongo', region='us-east-1') }}
Environment=REDIS_HOST={{ lookup('amazon.aws.aws_ssm', 'roboshop.{{env}}.user.redis_host', region='us-east-1') }}
Environment=MONGO_URL="{{ lookup('amazon.aws.aws_ssm', 'roboshop.{{env}}.user.mongo_url', region='us-east-1') }}"
Environment=READABLE_STREAM=enable
ExecStart=/bin/node /app/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target
