[Unit]
Description = Catalogue Service

[Service]
User=roboshop
Environment=DOCUMENTDB={{ lookup('amazon.aws.aws_ssm', 'roboshop.{{env}}.catalogue.mongo', region='us-east-1') }}
Environment=MONGO_URL="{{ lookup('amazon.aws.aws_ssm', 'roboshop.{{env}}.catalogue.mongo_url', region='us-east-1') }}"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target
