#- name: Install Maven
#  ansible.builtin.yum:
#    name: maven
#    state: installed

- name: Install Java
  ansible.builtin.yum:
    name: java-17-openjdk
    state: installed

- name: App Pre-requisites
  ansible.builtin.import_tasks:
    file: app_presetup.yml

# this step goes with CI
#- name: Download Maven Dependencies
#  ansible.builtin.shell: mvn clean package ; mv target/{{ component }}-1.0.jar {{ component }}.jar
#  args:
#    chdir: /app

- name: MySQL Schema Setup
  ansible.builtin.import_tasks:
    file: mysql_schema_setup.yml

- name: SystemD Setup
  ansible.builtin.import_tasks:
    file: systemd_setup.yml




