[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis-{{env}}.rdevopsb73.online
Environment=CATALOGUE_HOST=catalogue-{{env}}.rdevopsb73.online
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target
