[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT={{ lookup('amazon.aws.aws_ssm', 'roboshop.{{env}}.shipping.cart_endpoint', region='us-east-1') }}
Environment=DB_HOST={{ lookup('amazon.aws.aws_ssm', 'roboshop.{{env}}.shipping.db_host', region='us-east-1') }}
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
